@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Medium.ttf") format("ttf");
}

:root {
  --main-color: #262c7c;
  --pink-color: #eb0065;
  --light-main-color: #6468a1;
  --ice-color: #bec1e0;
  --red-color: #ff3e29;
  --green-color: #00db75;
}

body,
body * {
  margin: 0;
  font-family: Graphik;
  font-style: normal;
}

.styled-button {
  border-radius: 7px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Graphik;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ebf2ff;
}

.red-text {
  color: var(--red-color);
}

.green-text {
  color: var(--green-color);
}

.footer {
  display: grid;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  top: calc(100% + 80rem);
  left: 0;
  right: 0;
  height: fit-content;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #fff;
}
