@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Medium.ttf") format("ttf");
}

:root {
  --main-color: #262c7c;
  --pink-color: #eb0065;
}

body {
  margin: 0;
  font-family: Graphik;
}

.styled-button {
  border-radius: 7px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Graphik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ebf2ff;
}
