.footer {
  display: grid;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  top: calc(100% + 80rem);
  left: 0;
  right: 0;
  height: fit-content;
  gap: 30px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 20px;
  word-spacing: 2px;
  line-height: 5px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 268px;
  margin-left: 15px;
  font-family: GraphikLight;
}
